{% extends 'base.html' %}

{% block title %}首页{% end %}

{% block body %}
<!-- welcome -->

<div class="col m-t-lg">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h4 text-black">欢迎登录微信小管家管理后台</h1>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row row-sm text-center m-t">
            <div class="col-xs-6">
                <a class="panel padder-v bg-warning item ">
                    <i class="f-amplify-m fa-file-text fa m-b-sm"></i>

                    <div class="text-white font-thin h1 block">58</div>
                    <span class="text-muted text-xs">分析师文章</span>

                    <div class="bottom text-right w-full">more<i class="fa fa-caret-right m-r-sm m-l-xs"></i></div>
                </a>
            </div>
            <div class="col-xs-6">
                <a class="block panel padder-v bg-primary item">
                    <i class="f-amplify-m fa-tasks fa m-b-sm"></i>

                    <div class="text-white font-thin h1 block">58</div>
                    <span class="text-muted text-xs">策略资讯</span>

                    <div class="bottom text-right w-full">more<i class="fa fa-caret-right m-r-sm m-l-xs"></i></div>
                </a>
            </div>
            <div class="col-xs-6">
                <a class="block panel padder-v bg-info item">
                    <i class="f-amplify-m fa fa-th-list m-b-sm"></i>

                    <div class="text-white font-thin h1 block">58</div>
                    <span class="text-muted text-xs">新闻条目</span>

                    <div class="bottom text-right w-full">more<i class="fa fa-caret-right m-r-sm m-l-xs"></i></div>
                </a>
            </div>
            <div class="col-xs-6">
                <a class="panel padder-v bg-danger item">
                    <i class="f-amplify-m fa fa-graduation-cap fa m-b-sm"></i>

                    <div class="text-white font-thin h1 block">58</div>
                    <span class="text-muted text-xs">专家回复</span>

                    <div class="bottom text-right w-full">more<i class="fa fa-caret-right m-r-sm m-l-xs"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- / welcome -->

{% end %}