<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script type="text/javascript" src="{{ static_url('js/jq.js')}}"></script>
    <script type="text/javascript" src="{{ static_url('js/createaccid.js')}}"></script>
</head>
<body>
    <p>

        <label>用户名：<input type="text" name="accid" value=""/></label>
    </p>
    <p>

        <label>昵　称：<input type="text" name="name" value=""/></label>
    </p>
    <p>

        <label>手　机：<input type="text" name="mobile" value=""/></label>
    </p>

    <p　style="text-align:center;"><button name="reg" id="register">Register</button></p>


</body>
</html>